<p>my-firstfile works!</p>

<h2>Angular Data Binding</h2>

<!-- interpolation binding -->
<h3>{{sampleText}}</h3>
<p>{{flag}}</p>

<!-- property binding  -->

<a [href]="link">Go to CodeNG</a> <br><br>

<!-- <img [src]="imgPath" [alt]="" [height]="ht"> -->


<!-- Event binding  -->

<button class="btn btn-primary" (click) = "clickEvent()">Submit</button><br><br>

<!-- two way data binding -->

<!-- <input type="text" name="fn" [(ngModel)]="fname"> <br><br> -->
<!-- <input type="" -->

<!-- Your name is : {{fname}}  -->